[2018-02-16 16:57] max3903 opened #11 "[11.0] auth_saml"
Migrate auth_saml from https://github.com/xcgd/auth_saml to version 11 in OCA/server-auth

See https://github.com/xcgd/auth_saml/issues/8

CC: @wolfhall, @bodedra

[2018-04-05 11:30] #11 closed, assigned to max3903

[2018-05-22 20:18] gridworkz opened #20 "Shibboleth 3 IdP"
Hi:

Has anyone tried server-auth with a Shibboleth IdP? I've got a functioning IdP endpoint setup and I entered all the metadata in the server-auth Odoo 11 plugin. I enabled the plugin and I do see the link to login to my IdP on the Odoo login screen. When I click on it - it goes to https://<mydomain.com>/None and I get a 404 page not found error. The link address it's trying to execute is:

http

[2018-05-25 12:03] rafaelbn opened #21 "[11.0][auth_admin_passkey] #GDPR Is auth_admin_passkey an ilegal module? Should OCA have such a module?"
Hello,

https://github.com/OCA/server-tools/tree/10.0/auth_admin_passkey

We are not using this module at all, but I think is a good idea yo open this issue and see what Contributors thinks.

Im my opinion this module shouldn't be migrated to v11 inside an OCA repository.

Thanks for other point of view

[2018-05-28 11:55] JordiBForgeFlow opened #22 "[11.0][auth_brute_force] Express whitelisted IPs in CIDR notation"
Often companies will want to maintain a whitelist of IP address expressed by ranges of IP's instead of having to express them one by one.

See https://en.wikipedia.org/wiki/Classless_Inter-Domain_Routing#CIDR_notation
And a sample implementation in python of logic to check if an IP address is whithin a range expressed by a CIDR expression: https://diego.assencio.com/?index=85e407d6c771ba2bc5f02b17

[2018-05-31 11:09] shyjuk opened #24 "How to install lasso module"
module: auth_saml
version: 11.0

**Steps to reproduce**
- ...

**Current behavior**

**Expected behavior**

[2018-05-31 11:10] pedrobaeza commented on #24
Sorry, this is not an Odoo issue, but a question. You should make it on Odoo official forums (https://www.odoo.com/forum/help-1) or mailing lists (https://odoo.com/groups), but not here.

Closing this by the reason above.

[2018-05-31 11:10] #24 closed, assigned to nobody

[2018-06-03 11:22] shyjuk commented on #24
I have installed lasso with command  apt install python-lasso
import lasso also works from the python command line.
But still the module complaints "No module named lasso"

[2018-06-11 10:22] #22 closed, assigned to nobody

[2018-06-21 15:33] bennok commented on #20
Hi,
The same situation has raised in another attempt.

Here's  odoo's log:
2018-06-21 15:12:13,438 4583 INFO mdl_db werkzeug: 129.194.228.160 - - [21/Jun/2018 15:12:13] "GET /web/login HTTP/1.1" 302 -
2018-06-21 15:12:13,538 4583 INFO mdl_db werkzeug: 129.194.228.160 - - [21/Jun/2018 15:12:13] "GET /en_US/web/login HTTP/1.1" 200 -
2018-06-21 15:12:14,557 4583 INFO mdl_db werkzeug: 129.194.228.160

[2018-07-16 10:38] pedrobaeza commented on #21
No feedback, so closing. Don't put that module if you think is not legal. Legal thing depends on your country, not on the code.

[2018-07-16 10:38] #21 closed, assigned to nobody

[2018-08-13 12:37] Vassy opened #33 "[11] auth_session_timeout"
Hi all,
I using Odoo 11 CE on Ubuntu 16.04 with Apache 2.4 reverse proxy.
When i install auth_session_timeout and logout, if load website, odoo redirect to /web/login.
If clear browser cookies, after tray to login, odoo redirect again to /web/login with cycle and login form not load.
If i uninstall auth_session_timeout, no redirect and website load normal.
How to resolve this issue?

[2018-08-14 08:52] pedrobaeza commented on #33
Have you tried on runbot? https://runbot.odoo-community.org/runbot/251/11.0 with admin/admin

[2018-08-29 06:43] Vassy commented on #33
Same result on runbot:
[code]

[2018-09-06 09:51] ericzen opened #36 "[11]auth_session_timeout odoo enterprise"
Hello,
Can i use this module with Odoo Enterprise V11 ?
I've a fresh install debian jessie and odoo Enterprise V11 with demo data.
Only install one module and auth_session_timeout.
Put delay at 120 to be disconnect after 2 minutes.
The session still active even if i use demo or admin account.
Thanks for your help
Ericzen

[2018-09-09 11:56] Vassy commented on #33
Is there any solution to the problem?

[2018-09-19 10:16] aisopuro opened #37 "Having auth_ldaps in the addons path breaks Odoo because of a missing suggested dependency"
### How to replicate
1. Install Odoo, do not install the `ldap` module
2. Add `server-auth` to you addons path
3. Start the Odoo server

### Current behaviour
Server startup fails, or may even break in unexpected ways, because of Odoo being unable to import `ldap`. This happens even if the `atuh_ldaps` module is not installed.

### Expected behaviour
Since `ldap` is only recommended for Odoo to wo

[2018-09-27 00:14] OCA-git-bot opened #38 "Migration to version 12.0"
# Todo

https://github.com/OCA/maintainer-tools/wiki/Migration-to-version-12.0

# Modules to migrate

- [ ] auth_admin_passkey - By @fkantelberg - #116
- [x] auth_api_key - By @sbidoul - #56
- [x] ~~auth_brute_force~~ Not needed as Odoo includes now this feature in core. More details in https://github.com/OCA/server-auth/issues/38#issuecomment-462328317
- [ ] auth_from_http_remote_user
- [ ] auth_

[2018-10-04 16:08] amirpadilla opened #40 "Where I can change the parameter for auth_brute_force"
Hi Hello

I'm trying to change

But I don't know where are those parameter stored.

[2018-10-05 08:31] sebalix commented on #40
Hi,

You have to create an new parameter in the `Settings / Technical / Parameters / System parameters` menu, and set the key to `auth_brute_force.max_by_ip` and the value you want.

[2018-10-05 08:33] #40 closed, assigned to nobody

[2018-10-16 08:46] alexey-pelykh commented on #38
`auth_ldaps` via #42 + certificate validation setting

[2018-10-17 11:00] simahawk opened #43 "branch 10.0 needed"
See https://github.com/OCA/server-tools/issues/1398

[2018-10-18 04:48] alexey-pelykh commented on #38
Enhanced `users_ldap_mail` alternative in #45

[2018-10-23 13:23] alexey-pelykh commented on #38
`users_ldap_groups` in #46

[2018-10-25 12:42] gurneyalex commented on #43
closed by  c2fd1f2232d5a6327b84e4a7db11e27279e1e4bd

[2018-10-25 12:42] #43 closed, assigned to nobody

[2018-11-06 16:02] lgharib opened #50 "[11] auth_saml error message on saml_erro=3 not displayed in webclient_templates.xml"
**How to replicate**
Install Odoo
Add saml_auth to you addons path
Start the Odoo server
Log in with the administrator account
Configure SAML Provider [Using F5 in my case] (Matching attribute / IDP Configuration / SP Configuration / Private key of our service provider (this openerpserver)) and enable provider. (Provide a name and a body here we used Provider name = "F5" Body = "Login with F5")
Lo

[2018-11-08 16:27] MathAndrews opened #54 "[11] Password Security - Reset password"
Hi,

I install the password_security, and I'm not sure that the test for the "resets inside of min" is working.
I'm on Odoo 11, and the reset password form send in "qcontext" a empty string for the token as so the first 'if' is never valid. (controller/main.py line 61)
Plus, if this 'if' is valid the queries "user_ids = request.env.sudo().search(...)" (line 74 and 79) are not valid and throw an ex

[2018-11-08 16:31] pedrobaeza commented on #54
Can you express some steps for reproducing a problem?

[2018-11-09 07:39] MathAndrews commented on #54
Hi,

1. Token in qcontext variable:
- add logs to display _qcontext_ variable (controller/main.py line 66)
- go to "/web/reset_password" page
- submit the form
- in the logs you will see something like: "OrderedDict([('login', 'math@aaa.com'), ('redirect', ''), ('token', ''), ('reset_password_enabled', True), ('signup_enabled', True)])"

So the condition _'token' not in qcontext_ in the is stateme

[2018-11-09 08:18] pedrobaeza commented on #54
But I still don't see the problem in the standard module. Are you adding some custom code or something?

[2018-11-09 10:00] MathAndrews commented on #54
For me the issue is as the test **'token' not in qcontext** is always **False**, so it will not do the check done by **user_ids._validate_pass_reset()**

I try on a brand new database, and install the module "auth_signup", "base_setup", "contacts", "website", and "password_security"

[2018-11-28 07:10] MathAndrews commented on #54
Hi,
Any news about this? Do I misunderstand something?

[2018-12-07 09:44] phong-innomizetech commented on #24
@shyjuk Did you find out the root cause?

[2018-12-10 23:10] probabble commented on #38
Hey folks, my org just started using Odoo and they set us up with v12, but I'd love to start using these modules as soon as possible (SAML especially!). What if anything can I do to accelerate this upgrade process?

[2018-12-10 23:15] pedrobaeza commented on #38
Well, you can migrate it by your means and contribute it back here or finance any contributor for doing it.

[2018-12-11 14:40] gurneyalex commented on #38
hello @pedrobaeza One of my customers needs auth_saml in 12.0, I see noone's on it -> I take this migration in charge if this is ok with you

[2018-12-11 14:41] pedrobaeza commented on #38
Yes, Alexandre, of course! I'm only taking note of that assignments and watch if there's duplicated work, which doesn't be the case.

[2018-12-11 14:46] alexey-pelykh commented on #38
@gurneyalex as a matter of fact, we also need it, yet that's lower priority right now, so feel free to ping me on the review or anything else

[2018-12-12 21:39] HavingLunch commented on #33
I encountered the same problem as Vassy's. I tried to add a check before going through _auth_timeout_check on line 64 of res_user.py. The source code is like below:
       if http.request.httprequest.path == "/web/login":
            return
It solved my problem, but I'm not sure if it would cause other problems. Any concerns?

[2019-01-10 10:50] Yuhir0 opened #67 "Release for version 8.0"
Estoy en un proyecto utilizando la version 8.0 de odoo y me preguntaba si en el pasado el modulo funciono en esta versión, aunque ya no tenga soporte.

Gracias!

[2019-01-10 11:53] pedrobaeza commented on #67
Sorry, only English allowed, and you are not saying which module.

[2019-01-10 11:53] #67 closed, assigned to nobody

[2019-01-10 14:02] Yuhir0 opened #68 "Release for version 8.0"
Sorry for the previous issue. I thought i wrote the message in English.

I am in a project using version 8.0 of odoo and I was wondering if in the past the module auth_saml worked in this version, although it does not have support anymore.

Thank you!

[2019-01-10 15:16] pedrobaeza commented on #68
No, there's no version of that module for 8.0. You can take a most modern one and backport it if you want.

[2019-01-10 15:16] #68 closed, assigned to nobody

[2019-01-18 09:31] hansmannaerts opened #70 "404 Error"
Hi we want to use the auth_saml module in Odoo (OpenERP)
The installation was successful but when we try to login using SAML  the brower wants to go to https://url.of.our.odoo.server/auth_saml/get_auth_request?pid=2 and we get a 404 error page.

Any idea of what could be the solution for this issue?

[2019-01-24 12:24] mayjo79 commented on #33
same issue for me too

[2019-02-11 12:21] yajo commented on #38
`auth_brute_force` is not needed in v12 after https://github.com/odoo/odoo/commit/a8d868e2877e12e2c5c6329055f6c8568d286331 was merged. It's upstream now.

[2019-02-11 12:51] pedrobaeza commented on #38
Well, at least we will need some migration scripts. I don't see now any table where storing banned IPs. How is that achieved?

[2019-02-11 13:33] yajo commented on #38
The behavior is different. Has pros and cons. For example, in OCA bans and login attempts were recorded in the database, browsable, unbannable, whitelistable by the admin. With upstream changes, this is all just automatic, stored in a volatile cache that will disappear on next reboot, and transparent to users, but it implements a cooldown that lets the user come back after certain time and be able

[2019-03-14 08:19] polimex-lgeorgiev opened #79 "Website quotation link for customers show login form"
When the customer open the link(Confirm & Sign) from email quotation, first time open Login form. Second click show the quotation. The problem is from auth_session_timeout. Exception URL (inactive_session_time_out_ignored_url) are configured for the path (/quote)
Odoo 11 CE

[2019-03-14 08:28] pedrobaeza commented on #79
I don't get the problem, and you should put the module and the version you have the issue with in the title

[2019-03-14 10:56] polimex-lgeorgiev commented on #79
Sorry
Module version 11.0.1.0.0 / Odoo 11.0-20190118
To simulate problem get the link from the e-mail and open it in New Incognito browser tab
--

[2019-03-26 09:07] wilcobergacker opened #80 "[11] auth_session_timeout Have to clear all cookies after logout"
Im using auth_session_timeout in combination with Odoo 11 EE and we regularly have an 50_x error "Service unavailable" when we're using Chrome.

The user is logged out properly, but after this  error we have to clear all cookies before we can login  in Odoo again.

Any idea how to fix this?

[2019-04-17 08:30] tarteo opened #86 "[11.0] Build failing"
The tests of auth_totp_password_security are failing for 11.0: https://travis-ci.org/OCA/server-auth/branches

The error is: `AssertionError: 'http://localhost:8069/web/reset_password?token=eqN15WCDR57SxdDbdVv4&db=openerp_test' not found in 'redirected'`

This is probably the problem:
https://github.com/OCA/server-auth/blob/fa075ab224c842892a684565489a749f3c09c19d/password_security/tests/test_pass

[2019-04-17 10:15] cuongnmtm opened #88 "[12] Password Security - Reset password"
Hi all,

I installed the password_security v12

When I:
1. Open user Form
2. Choose any user
3. Click Action & choose Change Password
4. An issue occurs when I try to click the text field to set the new password

Thanks for your help

[2019-04-17 10:42] pedrobaeza commented on #88
@shepilov-vladislav can you check this?

[2019-04-17 10:46] shepilov-vladislav commented on #88
@pedrobaeza This PR https://github.com/OCA/server-auth/pull/85 will fix this issue

[2019-04-17 10:47] pedrobaeza commented on #88
OK, thanks

[2019-04-17 16:38] #86 closed, assigned to nobody

[2019-04-21 16:50] raishak6 commented on #54
I installed the module on Version 10 and it worked fine. However, I noticed that after password expires, based on the expiration period specified, no user (including the Administrator) would be able to login again and no one (including the Administrator) is redirected to the password reset page. If the Admin can be excluded from the password constrain and the users are redirected to the password r

[2019-04-22 15:53] samdohrey opened #89 "[11] Password Security - Disable history requires 1 not 0"
Hello,

We are hoping to install the Password security module but noticed a strange issue. We wish to disable the history check, as per the pop-up instructions "0 to disable". However this does not seem to work, we have to enter the value 1. This seems minor but could cause frustration to new users of the module

**Steps:**
In the password policy set (for ease of use):
Days = 0
Minimum Hours = 0
C

[2019-05-20 10:11] javiermatos opened #100 "[11] Password expiration cannot be disabled"
I have noticed password_security/models/res_users.py is different for versions 11 and 12 regarding the _password_has_expired function: in version 12, there is a condition that allows to disable password expiration just by setting password_expiration = 0 (which makes sense),

[code]

while in version 11, the function does not accept a value just to disable it.

[code]

Can we "backport" that featur

[2019-05-20 10:13] pedrobaeza commented on #100
Please do the proper PR with the backport.

[2019-05-20 11:52] javiermatos commented on #100
Hola Pedro, I think the PR is done and ready to merge. Please, tell me in case there is something else I have to fix/improve for having this ready.

[2019-05-20 13:01] pedrobaeza commented on #100
OK, closing this one as there's a PR. Have you signed CLA?

[2019-05-20 13:01] #100 closed, assigned to nobody

[2019-05-22 04:45] CoraVanga opened #102 "[11] keychain"
Hello
I encounter this problem in module keychain when installing it, how do we fix it.

AttributeError: module 'odoo.fields' has no attribute 'Serialized'

Kind regards,
Tien

[2019-05-22 07:28] pedrobaeza commented on #102
The module is already depending in what you need: `base_sparse_field`.

[2019-05-22 07:28] #102 closed, assigned to nobody

[2019-05-25 11:06] kesturbo opened #103 "Getting redirect link while opening website"
Hi all,
I have installed the module auth_session_timeout-11.0.1.0.0, and after that started to get redirect link and the error - Too many redirects. Problem was gone, when I removed the module.
What can be the issue?
This is the log line.
2019-05-25 10:56:02,747 873 INFO 7danat werkzeug: 217.165.21.202 - - [25/May/201

[2019-05-25 11:08] pedrobaeza commented on #103
Which module? Which version?

[2019-05-25 11:12] kesturbo commented on #103
Sorry, added to main comment: auth_session_timeout-11.0.1.0.0

[2019-05-27 09:50] kesturbo commented on #33
same issue for me too. Any updates regarding this ?

[2019-06-01 22:06] emagdalenaC2i commented on #38
Please, check auth_api_key - By @sbidoul - #56 that is already merged

There is a PR for the migration of auth_user_case_insensitive - By @Retropikzel - #104

[2019-06-02 00:55] emagdalenaC2i commented on #38
auth_oauth_multi_token - By @sla-subteno-it - #62 should be closed because it is superseed in #106

[2019-06-02 20:28] pedrobaeza commented on #38
@emagdalenaC2i thanks a lot for tracking the progress of the projects. Updating data in all the repos you have checked without more comments for not hammering.

[2019-06-04 02:17] LuceEasyPme commented on #89
Thank you! It helped a lot!
Luce

[2019-06-07 16:55] moylop260 opened #111 "[IDEA] password_security: Using zxcvbn python library"
Currently the module [password_security](https://github.com/OCA/server-auth/tree/96989f94c68fe52ca6768a6787968e140e205058/password_security) is using a similar case to:

Unsafe password is passed as safe:
 - ![Screen Shot 2019-06-07 at 11 38 57 AM](https://user-images.githubusercontent.com/6644187/59120015-efb03100-8919-11e9-903c-ac43cedc4611.png)

Safe password is passed as unsafe:
 - ![Screen Sh

[2019-06-07 17:22] moylop260 commented on #111
FYI Django has implemented this way too:
  - https://pypi.org/project/django-zxcvbn-password/

    - ![django](https://user-images.githubusercontent.com/6644187/59121903-ee353780-891e-11e9-836a-732d2e1a7f3b.png)

[2019-06-07 17:25] pedrobaeza commented on #111
Isn't Odoo already doing something similar in v12?

[2019-06-22 18:19] fkantelberg commented on #38
auth_totp #114

[2019-06-25 06:02] fkantelberg commented on #38
auth_totp_password_security #115

[2019-07-05 09:07] phatminh commented on #88
Thanks !

[2019-07-10 14:45] amkarthik commented on #88
As said, PR #85 fixed this issue.
Thanks.

When we can expect it to be merged to 12.0?

[2019-07-10 14:47] pedrobaeza commented on #88
That PR includes a lot of changes that are unrelated to fixing this, so it can't be simply accepted quickly. I would recommend to extract the bugfix to other PR for giving it more priority.

[2019-07-15 08:02] Martronic-SA opened #119 "[11.0] password_security - redirection fails when password expired and website installed"
It seems that sometimes the method in the website module controllers/main.py web_login is overriding the one in password_security and then if the password has expired, user is not redirected on the signup_url but on the standard /web page and therefore cannot login anymore.
How to be sure that password_security is on the top? should it be added to the server_wide_modules in conf? (it seems that it

[2019-07-18 14:10] amkarthik commented on #88
@pedrobaeza
Extracted the fix from the PR https://github.com/OCA/server-auth/pull/85 and the seperate PR is https://github.com/OCA/server-auth/pull/121
Thanks

[2019-07-22 15:20] #88 closed, assigned to nobody

[2019-07-23 09:52] amkarthik commented on #119
@Martronic-SA
Please review https://github.com/OCA/server-auth/pull/124.
It will fix this issue.

[2019-07-29 13:09] nigle-dev commented on #20
I also get this both with my idp and with the default authentic provider.

ERROR odoo odoo.addons.auth_saml.controllers.main: SAML2: _get_auth_request() takes 2 positional arguments but 3 were given

Is this a working module?

[2019-08-09 08:28] legalsylvain commented on #21
@rafaelbn !
continuing the migration of modules to v12, I took a look on this issue you wrote.

I think it's a good point.
I developped the module ``auth_admin_passkey`` as an "admin" feature, to have the possiblity to log in the erp, to see what my users are seing. In fact, some bug, trouble, ACL limitation etc... depends on the context.
I think that this module is usefull regarding this aspect.

[2019-08-16 22:41] rafaelbn commented on #21
I agree with such design @legalsylvain :+1:

[2019-08-22 09:55] gr22 commented on #33
@HavingLunch did you find out if your solution is working good?
This issue is very frustrating.

[2019-08-26 05:09] HavingLunch commented on #33
It works so far. Didn't fond any problem.

[2019-08-26 08:14] gr22 commented on #33
I applied the patch and the problem is gone. The website seemed inaccessible before. What about updating the module, it seems like an important bug to me?

[2019-08-26 08:16] kesturbo commented on #33
@gr22 , what patch did you applied ?

[2019-08-31 08:51] fkantelberg commented on #111
This goes beyond the scoring in auth_password_policy because of the dictionaries. I think this would be a nice feature for the mentioned module and I would work on it.

[2019-08-31 14:27] moylop260 commented on #111
Hi @fkantelberg
Your help is welcome!
Thanks!

[2019-09-01 07:47] fkantelberg commented on #111
@moylop260
This PR #130 should implement it.

I'm currently not quite sure because it uses the js and python lib for zxcvbn which could result in different scores in the future if not both are updated. But this way will limit the requests to odoo which would be required per change of the password field.

What do you think?

[2019-09-17 07:35] prajithpipt opened #134 "auth_session_timeout- Traceback (most recent call last) Error"
I installed odoo 12 in centOS7 server
When i check the odoo log, sometimes below mentioned error appears and the service stopped.

Traceback (most recent call last):
  File "/home/Odoo12/odoo12/custom_addons/auth_session_timeout/models/res_users.py", line 74, in _auth_timeout_check
    expired = getmtime(path) < deadline
  File "/opt/rh/rh-python36/root/usr/lib64/python3.6/genericpath.py", line 55

[2019-09-29 21:47] OCA-git-bot opened #136 "Migration to version 13.0"
# Todo

https://github.com/OCA/maintainer-tools/wiki/Migration-to-version-13.0

# Modules to migrate

- [ ] auth_admin_passkey - By @bizzappdev - #169
- [ ] auth_api_key @Laurent-Corron  #142
- [ ] ~auth_keycloak~ (superseded by auth_oidc)
- [ ] auth_ldap_attribute_sync
- [ ] auth_ldaps
- [x] auth_oauth_multi_token - By @Yajo - #218
- [x] auth_oidc - By @sbidoul - #260
- [ ] auth_session_timeout -

[2019-10-01 08:47] rruebner commented on #136
I am working on auth_session_timeout. (#137)

[2019-10-13 10:38] gr22 commented on #33
I had to add  also _'/web/reset_password'_ to the ignored URL's since it would redirect you to login page and not be able to reset the password
so now my code is:
[code]

[2019-10-17 02:54] travish2 opened #140 "auth_totp wrong secret code in wizard"
Tested on v11 and v12 runbot, unable to test on v10/v9

When opening the wizard to add a new MFA device the secret code (and QR code) displayed is not the same as the secret code used to validate.

After entering any Confirmation Code and clicking Create, the secret code and QR code reloads and shows the correct code. If this is not noticed by user they continue entering the 6 digit code from the

[2019-10-17 03:41] ProgrammedByJake commented on #140
In v11 this can be fixed by adding force_save="1" to the secret key field.

I don't believe this feature exists in v10, so another approach will be needed.
Creating the record in python before opening it would solve it, albeit not very elegantly.

I'll play around tonight and make a PR if I find a solution.

[2019-10-17 05:16] jmcvetta opened #141 "`password_security` module throws warning during tests"
The `password_security` module throws a warning during tests.  Although it is just a warning, it makes odoo.sh flag the tests as yellow.  So an Odoo instance using `password_security` cannot pass its tests on odoo.sh.

Sample warning from the log:
[code]

Warning is thrown from within `odoo.http.route` decorator, which is wrapping `password_security.controllers.main.web_auth_signup()`.

Within tha

[2019-10-17 08:18] pedrobaeza commented on #141
Odoo version? Can you propose the pull request?

[2019-10-17 15:58] tom-aspire commented on #140
I'm on v12, the workaround that @travish2 suggested works.  I tried adding the force_save="1" parameter to the secret key field, need to do some more testing but that seems to not have fixed the problem for us and also may have broken the workaround.

[2019-11-22 11:43] juhenriquez opened #146 "Getting "--HACK--" Message on auth_signup_verify_email"
Running into an issue with auth_signup once tried to login I get “--HACK--’’ on signup Screen

![img111](https://user-images.githubusercontent.com/8250019/69423052-8ff8e700-0cfb-11ea-993e-fa2fd3a2c9e6.jpg)

Was able to reach this point,
![pciter12](https://user-images.githubusercontent.com/8250019/69423076-9edf9980-0cfb-11ea-93c2-4229cbc58d56.jpg)

But not really sure what is happening here.

Work

[2019-11-22 13:50] pedrobaeza commented on #146
Screenshots too small, but any way, see #145 that removes the hack.

[2019-11-22 13:50] #146 closed, assigned to nobody

[2019-11-26 12:52] Chandresh-SerpentCS commented on #136
`auth_user_case_insensitive` module is migrated in v12, but it is missing in the v13 migration list.

[2019-12-11 16:57] clayrisser opened #150 "Keycloak login only works first time"
I am using keycloak v8.0.1 and odoo v11. After setting up the keycloak integration, everything works great, however, when I log out of odoo and try to log in again, I get a 502 error from keycloak.

One thing I did notice is the `redirect_uri` contains the `http` protocol instead of the `https` protocol, even though all of my config says to use `https`. I would blame it on my configuration setup,

[2019-12-23 11:17] yelizariev opened #154 "New modules about "res.users.log""
I need a way to show records of ``res.users.log`` model. Odoo doesn't provide views for the model and I haven't found a ready solution for that. So, I think to create the module.

My question is: what could be a proper name / technical name for such a module and is ``server-auth``  proper repository for it?

[2019-12-23 11:39] pedrobaeza commented on #154
Well, good question, as there's no good host to it being something transversal, but I would bet for this one as the more related one (excluding server-tools, that it's the wildcard one).

About the name...

![image](https://user-images.githubusercontent.com/7165771/71356000-23cf0480-2581-11ea-82c1-dccca7660404.png)

:rofl:

Seriously, I think you can name it as `user_log_view`.

[2020-01-16 21:28] nowheresly commented on #136
I just proposed a PR for `auth_ldaps` (#157)

[2020-02-04 07:37] storagerepo commented on #80
Hi wilcobergacker,

I am also facing this issue,did you fix that issue?

[2020-02-19 06:19] travish2 opened #163 "auth_totp Authentication devices shows other user's devices in simple view"
When a user clicks on their name in the upper right corner -> Preferences and scrolls to MFA devices, the field for authenticator_ids shows devices for other users as being available.

Fix: add domain="[('user_id', '=', id)]"  to the authenticator_ids field on view_users_form_simple_modif

[2020-02-24 23:55] max3903 opened #167 "[12.0] auth_totp: Access Denied"
# Steps

* Set up a user with 2FA (I used Google Authenticator and used the work around at #140)
* In a different browser or in a private/incogito window, go to /web/login
* Enter the user name and password

# Result

* Got a "403: Forbidden" page
* Log:
[code]

# Expected result

* Being redirected to /auth_totp/login to enter the code

[2020-02-25 09:48] qzmxs opened #168 "All incoming HTTP are killed"
module: auth_session_timeout
version: 12.0

**Steps to reproduce**
inactive_session_time_out_ignored_url，Excluding addresses has no effect
All incoming HTTP are killed，
Similar to dingtalk approval callback
**Current behavior**

**Expected behavior**
auth session timeout, should point to the user, not all

[2020-02-28 11:21] qzmxs commented on #168
This session tool will kill all users and HTTP incoming and cause third parties to access HTTP and use administrator / OdooBot permissions are not compatible with this auth_session_timeout tool.

[2020-02-28 21:32] max3903 commented on #167
@murtuzasaleh Can you help us here?

CC: @wolfhall

[2020-03-05 15:17] bizzappdev commented on #136
can you please add auth_admin_passkey in list
PR for auth_admin_passkey  #169

[2020-03-09 14:07] sbidoul opened #170 "auth_from_http_remote_users: allow multiple sessions for same user"
Currently, `auth_from_http_remote_users` does not allow the same user to connect from different browser sessions at the same time (different browsers, different machines etc).

This is due to the fact that, when creating a new session, the module [generates a new random pseudo-password (sso_key)
](https://github.com/OCA/server-auth/blob/582433d21b73e0c0710dbea5bab8ffa9223fd60c/auth_from_http_remot

[2020-03-09 14:08] sbidoul commented on #170
@lmignon

[2020-03-09 14:38] lmignon commented on #170
@sbidoul  all this makes sens

[2020-03-27 10:42] m3asmi opened #172 "FileNotFoundError:No such file or directory"
odoo v12
I got this error a lot in the log file !
[code]

[2020-03-31 05:48] Boss1669 opened #177 "[13.0] password_security migrate to odoo version 13 ?"
[13.0] password_security migrate to odoo version 13 ? when can i expected this module to be upgrade to version 13 ?

[2020-04-02 22:32] travish2 commented on #167
Have you tried without the tko_web_sessions_management module installed? I had a similar problem caused by an IP restriction module that broke the standard login and needed modifying

[2020-04-02 22:43] travish2 opened #182 "[IMP] auth_totp set valid_window for ease of use"
Change the verify() function in models/res_users_authenticator.py to use valid_window (allows use of OTP before and after the current displayed one):
[code]

This helps users login experience and also if there is any time issue on the server.

Eg. User opens authenticator app with 10s left of valid time left on OTP - do they wait for the next one to show or try and enter and submit this one in tim

[2020-04-10 09:18] apineux commented on #170
FYI after trying to migrate this module to version 13.0. I realize that Odoo doesn't use the check_credentials method at the beginning of each request. It uses it once at the session creation but after that, the credentials are not checked anymore.
Therefore we can keep the current behavior in version 13.0 as it already allow multiple connection from different browser sessions.

[2020-04-10 09:39] NicolasDEVOUGE opened #184 "odoo.addons.auth_keycloak.exceptions.OAuthError: Not Found"
Hello,

I want to use keycloak with Odoo, I have configured the momdule like this 👍
![image](https://user-images.githubusercontent.com/1253901/78979747-bf7a8580-7b1c-11ea-8838-6c9bd5ee2703.png)

And keycloak like this :

![image](https://user-images.githubusercontent.com/1253901/78981026-58aa9b80-7b1f-11ea-83c5-48690cd3bae9.png)

When I click on login page, I'm redirected to Keycloak, without erro

[2020-04-10 09:57] NicolasDEVOUGE commented on #184
I precise that the exaple test with the c2c user is good, I have a token, and can test that is working

[2020-04-20 16:13] max3903 opened #187 "auth_totp: security issue when installed with website"
Steps to reproduce

* Install website and auth_totp
* Login as demo
* Go to your preferences, setup your 2FA device and activate 2FA
* Logout and login
* On the page to enter your 2FA code, click on the main menu or "My account"

Result

* You are logged in. You can access the backend, your portal or edit the website (if the user is in the Website Editor group)

Expected result

* You are not logg

[2020-04-22 10:20] robch2342 commented on #38
I have a customer that wants auth_saml_create_user and auth_saml_groups for 12.0. Is anyone working on those or should I start the migration?

[2020-04-26 21:15] #167 closed, assigned to nobody

[2020-04-30 06:51] igallart opened #192 "[12.0] pip lasso requirements.txt fail"
lasso fail with pip (ubuntu18.04, ubuntu 20.04):

pip3 install lasso
Collecting lasso
  Downloading https://files.pythonhosted.org/packages/4e/8d/515757f262f53ed72e7695a2274097aafe0aa28d8017fb6e7c357baab2ab/lasso-0.0.5.tar.gz
Collecting delorean>=0.4.4 (from lasso)
  Downloading https://files.pythonhosted.org/packages/76/40/5e8d179a0311236b2e83aa1c80b0b363700035ad6639858c75ef5be975e6/Delorean-1.0.

[2020-05-01 08:17] ansersolutions opened #193 "MS ADFS Integration?"
Hello all,
Has anyone managed to setup the SAML connector with Microsoft ADFS SSO?

If so.. what should I place in each of the SAMLv2 setup screen?

Kind regards,

Fernando

[2020-05-01 08:32] janikvonrotz commented on #184
To make it work you need a few changes. Have a look here:

https://janikvonrotz.ch/2020/04/24/odoo-oauth-authentication-with-keycloak/

[2020-05-04 19:33] max3903 commented on #140
@patrickrwilson Here is the issue with capturing the QR code I told you about. It has 2 open pull requests fixing it.

[2020-05-05 11:57] Zen-Onnet opened #194 "Mass-mailing image not loading in Gmail after installing auth_session_timeout"
![Screenshot from 2020-05-05 19-52-00](https://user-images.githubusercontent.com/50656117/81063170-ee143200-8f09-11ea-8dc2-100a0844530a.png)

Before installing **auth_session_timeout** module. (Above Image)

![Screenshot from 2020-05-05 19-53-59](https://user-images.githubusercontent.com/50656117/81063339-303d7380-8f0a-11ea-91d9-8a5b36e5cb96.png)

After installing the **auth_session_timeout** modu

[2020-05-06 07:03] igallart commented on #192
I try today and it is installed, I close issue.

[2020-05-06 07:03] #192 closed, assigned to nobody

[2020-05-07 09:21] flotho opened #195 "v12 Lasso requirement issue"
Hi @gurneyalex and @Yajo

I have some issue to install lasso on centos8 through ansible and it looks like there's a problem with versions used.

The official reference of the lasso https://pypi.org/project/lasso/ is precising that it's an alpha stage and moreover when you follow the doc and you want to point to the https://github.com/aperezdc/lasso-python it has been renamed in gnarl
My proposal i

[2020-05-07 09:28] yajo commented on #195
What module are we talking about?

[2020-05-07 10:26] flotho commented on #195
actually, the requirements.txt of this repo is responsible of this possible bad dependency.
SAML seems to be affected.

[2020-05-07 10:55] yajo commented on #195
I'm not of the most active users of that module. Probably @gurneyalex or @max3903 can tell you better.

[2020-05-11 21:01] ahmedhamed15786 opened #196 "ODDO 13 LDAP ISSUE"
Odoo Server Error

Traceback (most recent call last):
  File "/usr/lib/python3/dist-packages/odoo/http.py", line 624, in _handle_exception
    return super(JsonRequest, self)._handle_exception(exception)
  File "/usr/lib/python3/dist-packages/odoo/http.py", line 310, in _handle_exception
    raise pycompat.reraise(type(exception), exception, sys.exc_info()[2])
  File "/usr/lib/python3/dist-package

[2020-05-12 16:20] mcassuto opened #197 "auth_admin_passkey should not allow admin login"
auth_admin_passkey is a great module.
For the main use is to debug or test other user's ACL.

Not only the admin could use this feature but also managers to test there team access...

However, with this module, anyone having this module can access any account including the admin.
This module should not override the adnin password.

[2020-05-25 17:30] smurf-U commented on #24
Any update? @shyjuk

[2020-05-27 17:43] IronSenior commented on #103
Same problem here with version 12.0.1.0.0 of auth_session_timeout module.
I'll write if I find the solution.
Im not sure if the problem comes from this module but unistalling it solved the problem.

[2020-05-28 06:21] eabquina commented on #103
Happens to me on Odoo V11 too.

[2020-05-28 13:10] ahilalix commented on #193
@cocinfar

Have you found a solution?.

Thanks.

[2020-05-29 13:55] #154 closed, assigned to nobody

[2020-06-03 10:26] raphaelsoul commented on #150
in my case i cannot login admin console again. but works again after cleaned cookies on keycloak.

[2020-06-03 16:12] clayrisser commented on #150
I got past this issue, but I don't remember how.

[2020-06-03 16:12] #150 closed, assigned to nobody

[2020-06-14 11:58] ghost opened #203 "odoo as auth2 provider"
is there any module to add the feature of auth2 authentication as a (provider) not client

[2020-06-14 13:20] pedrobaeza commented on #203
Not here for now.

[2020-06-14 13:20] #203 closed, assigned to nobody

[2020-06-14 13:52] ghost opened #204 "odoo as auth2 provider"
I would like to propose a new module to add the feature of auth2 authentication schema to odoo
To allow other apps to authenticate using Odoo

[2020-06-14 15:30] pedrobaeza commented on #204
But have you already developed it?

[2020-06-14 16:47] ghost commented on #204
@pedrobaeza not yet

[2020-06-14 17:13] pedrobaeza commented on #204
Then what is the purpose of this issue report?

[2020-06-15 14:30] BetaUliansyah opened #205 "auth_user_case_insensitive trim extra whitespace"
Many Android browsers (ie: Chrome) add extra whitespace after typing username. It would be nice if `auth_user_case_insensitive` module also trim extra whitespace(s) in username typed.

[2020-06-29 16:30] 101t opened #207 "lasso has no attribute 'Server' in 'auth_saml'"
Hello OCA team,

I want to know why I faced this issue, I am using `auth_saml` with odoo v12, I already installed `lasso` and I tried the variant versions, also I installed `apt install python3-lasso` as a pre-required dependency but still have the issue
[code]

also, I tried independently using python shell
[code]

I just need to explain, why I faced this issue, lasso cannot be installable, thank

[2020-06-30 17:35] Moto017 opened #208 "[12] auth_session_timeout forces website redirect"
Forces website homepage redirect to /web/login
Duplicated issue with runbot

Steps to reproduce

1. install website
2. install additional website
3. in new browser / incognito, go to homepage
4. redirected from home page to /web/login?redirect=http%3A%2F%2F3428879-12-0-2bfb2b.runbot1-2.odoo-community.org%2F

[2020-07-01 06:35] 101t commented on #195
I made this tutorial
how to install `lasso` the C library with `auth_saml`
https://github.com/101t/install-lasso-saml2

[2020-07-02 12:30] luffah opened #209 "It is difficult to understand how to implement a minimalist SSO from a PHP third party site with modules descriptions"
Hello,
  maybe it is because i m not used to the SSO world but i find difficult to understand how to implement a minimalist SSO from a PHP third party site with modules descriptions.

  Therefore, i made my own module that allows to connect from another website:
   - a php form submit dbname, login, (pseudo)password to odoo `/login_redirect`
   - odoo prepare a token for the login and send a rende

[2020-07-03 15:24] bruno-zanotti commented on #136
I'm working on base_user_show_email #210

[2020-07-13 06:16] #207 closed, assigned to nobody

[2020-07-23 10:02] xiaoxin1991 opened #211 "odoo13 supports keycloak."
odoo13 supports keycloak.

[2020-07-23 10:03] xiaoxin1991 commented on #136
keycloak

[2020-07-31 19:54] gtorresemmanuel commented on #103
happens to me on Odoo V13 .. Has anyone found the solution?

[2020-08-02 11:32] JonathanStein commented on #103
We saw a similar behavior in V10. Maybe our fix will also work in newer versions:
https://github.com/steingabelgaard/server-tools/pull/15/files
(the fix assumes, that it's safe to skip expiration, if a session file does not exist).

[2020-09-04 14:18] Danoolo opened #216 "[12.0][auth_session_timeout] "414 Request-URI too large" Error"
Hi guys!, i'm getting this "414 Request-URI too large" Http error when use auth_session_timeout module in my server with a Nginx proxy in front of it...i figured out that this module generate redirection when it try to validate the session and that redirection uri gets too large to process. That error become rude because public users cant access to my odoo webpage because of session timeout..and i

[2020-09-08 16:00] fgarcia-humanoide commented on #136
Please add

user_log_view

to the migration list

[2020-09-09 17:06] robch2342 commented on #20
Is anyone actually using auth_saml for Odoo 12.0? I would love to hear how they got it running. I'm on Ubuntu 18.04 and it just refuses to work.

I managed to get the module working, but then I discovered that the lasso python module breaks the XML parsing of lxml.etree, making it impossible to install any modules with XML files. The only reason I even managed to install auth_saml in the first pla

[2020-09-09 23:44] gridworkz commented on #20
What errors are you getting now? We use apt to install python3-lasso.

[2020-09-10 05:36] robch2342 commented on #20
@gridworkz Are you using this module? Did you get it to work as is?

Last night I tried to install lasso using the method outlined in issue #195. It didn't solve the issue when I tried it yesterday, but now that I tried to recreate the issue, it's gone. The issue appeared in odoo.tools.convert, on this line
```etree.parse(os.path.join(config['root_path'],'import_xml.rng' )))```
where it would go d

[2020-09-15 00:24] evaldezb commented on #54
## I'm having the same (or similar) issue.

If the user password has expired:
[code]
Then, instead of readirecting to the reset password form, it will say: `Invalid signup token`.

But then I noticed, that the token changes every time the user tries to log in with the expired password, for example:

## After the user tries to log in with the correct (expired) password:
![image](https://user-images

[2020-09-16 09:39] yvaucher commented on #211
@xiaoxin1991 is this a request? or an assertion?

[2020-09-28 17:02] ansersolutions commented on #193
No... not yet... :/

[2020-09-30 08:15] joanbruch opened #219 "Error on installing email_verification"
Hi,
I've download the .zip and moved the extracted folder to the addons folder of Odoo V13 Enterprise.
Also I've installed pip3 install email_validator

![image](https://user-images.githubusercontent.com/37068744/94660307-cc2aaa00-0305-11eb-8a1f-85ae7c2f94a3.png)

but when I try to install the module on Odoo, it appears the error:
![image](https://user-images.githubusercontent.com/37068744/9466013

[2020-09-30 08:32] pedrobaeza commented on #219
That's because the Odoo Python environment is not the same as the pip3 Python environment.

Closing as no module issue, but deployment one.

[2020-09-30 08:32] #219 closed, assigned to nobody

[2020-09-30 08:33] pedrobaeza commented on #219
Other option is that you haven't restarted Odoo service after installing the Python library.

[2020-09-30 08:54] joanbruch commented on #219
Yes, i've restarted Odoo service after installing the Python library, but the error persists.
And also I have the Odoo service and the Python pip3 in the same server environment.

[2020-09-30 08:55] pedrobaeza commented on #219
I'm afraid you don't. If not, the error wouldn't arise. You can try in runbot link to see that is working. If not, then comment back.

[2020-10-01 05:34] shalinwilson commented on #195
I am getting an error like lasso doesnt have server. auth_saml.py line 50
server = lasso.Server.newFromBuffers(

[2020-10-04 10:34] OCA-git-bot opened #220 "Migration to version 14.0"
# Todo

https://github.com/OCA/maintainer-tools/wiki/Migration-to-version-14.0

# Modules to migrate

- [x] auth_admin_passkey #224
- [x] auth_api_key #221
- [ ] auth_from_http_remote_user
- [x] auth_ldaps
- [ ] auth_oauth_autologin
- [x] auth_oauth_multi_token - By @sergio-teruel - #471
- [ ] auth_oidc
- [x] auth_session_timeout
- [x] auth_saml #268
- [x] auth_signup_verify_email - By @em230418 -

[2020-10-09 14:01] Tariqlab commented on #134
Comment res_users.py from line 69 up to 78
and restart odoo server. this will fix your issue

[2020-10-09 20:12] alexandreduf commented on #177
Hi,

I also find that module pretty interesting and would need it for Odoo 13. Is anyone working on it?

Thanks!

[2020-10-09 20:12] alexandreduf commented on #136
Is anyone working on password_security?

Thanks!

[2020-10-13 13:26] chafique-delli commented on #220
auth_api_key here https://github.com/OCA/server-auth/pull/221

[2020-10-17 07:45] rousseldenis opened #222 "Password vault"
To help teams to collaborate, sometimes it is needed to share identifications (websites,...) on some light organizations.

Does anybody ever implemented such 'Vault'? Do you think it's a good idea ?

[2020-10-21 12:54] jusle commented on #216
I have the same error on Odoo 12.0 with nginx and Python 3.7, and confirmed it is because of this module.

This is what I see on logs:

[code]

It is making some kind of redirection loop. For public user without authentication (cookies cleared) it ends up to the login page (/web/login).

[2020-10-22 10:12] dsolanki-initos opened #223 "[WIP] Migration of auth_admin_passkey to v14."
[WIP] Migration of auth_admin_passkey to v14.

[2020-10-22 12:52] dsolanki-initos commented on #223
Migrate module auth_admin_passkey to v14 #224

[2020-10-22 14:13] pedrobaeza commented on #223
Please don't add new issues for this. There's a general issue for commenting these things: #220

[2020-10-22 14:13] #223 closed, assigned to nobody

[2020-10-26 10:09] kmatthes commented on #220
Migrate module auth_admin_passkey to v14 #224

[2020-11-12 17:56] reyelts commented on #136
Any thoughts on https://apps.odoo.com/apps/modules/13.0/boraq_password_security/? Looks like someone did their own v13 port and didn't feed it back here for some reason.

[2020-11-17 19:57] shabeervpk commented on #216
If we put **/web/login** to **inactive_session_time_out_ignored_url** does it resolves the problem !!!

[2020-11-25 15:49] kwoot opened #233 "locked out of Odoo server instance due to this addon"
Running Odoo 12.
For some reason I got locked out of my odoo instance.
Log file said succesfull login.
Moving the password_security addon to another name and restarting the service eventually fixed it.
Moving it back introduced the problem again.
I see that password_security/controllers/main.py has changed with the repo version. Maybe more files. Dunno.
My version of this addon is ': '12.0.1.1.1'

[2020-11-27 16:56] yajo commented on #136
You can assume that the answer is no unless someone said the contrary :wink:

[2020-11-29 11:10] miscs opened #235 "[12.0] auth_totp enabled but nothing happens"
Hi all,

I just installed and enabled auth_totp for my user and tested it with a private browser instance (chrome and safari) but nothing happens - I can just login with username/password like before. No second authentication screen to enter a code is shown.

I also checked logs, but found nothing suspicious.

Any hints would be highly appreciated. Thanks!
Steve

![image](https://user-images.githu

[2020-12-16 13:35] i-vyshnevska commented on #235
you need to finish installation through the wizard "Add New App/Device"

[2020-12-16 14:20] miscs commented on #235
Hi @i-vyshnevska

thank for your reply, but I completed the wizard. You can see this in the screenshot of my first post. I attached Authy as app successfully.

Thanks
Steve

[2020-12-21 15:39] i-vyshnevska commented on #235
try to integrate this code https://github.com/OCA/server-auth/pull/188/files

[2020-12-21 15:54] i-vyshnevska commented on #235
and this one https://github.com/OCA/server-auth/pull/158

[2020-12-23 09:51] miscs commented on #235
Thank you for your answer. I will pull these changes and try again after christmas break. I will report back.

[2020-12-31 11:30] miscs commented on #235
Hi @i-vyshnevska,

I pulled #188 and updated the module, restarted the server and registered an app using the wizard. Now I get a 500 server error when I try to login.
I can select my database and enter my username und PW, but after submit the 500er pops up.

`
2020-12-31 11:26:12,844 32331 INFO mydb werkzeug: 127.0.0.1 - - [31/Dec/2020 11:26:12] "GET /web?db=mydb HTTP/1.0" 303 - 1 0.001 0.004
202

[2020-12-31 11:33] miscs commented on #235
I just switched back to branch 12.0 and the error is gone, so I can login without problems. But without MFA...

[2021-01-03 23:26] i-vyshnevska commented on #235
well we are using the mentioned PR on a few projects they are  working fine
reading your steps maybe you need to update "auth_totp" after the server restart

[2021-01-04 20:37] miscs commented on #235
Thanks for your feedback. I updated everything, restarted the server and updated "auth_totp" after server restart. Still getting the above 500 error.

Could you maybe check in the logs if you also get this db:None log message at one of your installs? This still looks stange for me. Thanks!

[2021-01-07 08:54] miscs commented on #235
another question concerning this problem: we also use ldap. maybe this could be a problem?

[2021-02-04 14:16] joao-p-marques commented on #136
Working on `users_ldap_mail` (can it be added to the list?)

[2021-02-05 06:48] dsolanki-initos commented on #220
Hello all
I'll migrate the module password-security to v14.

[2021-02-15 11:42] joao-p-marques commented on #136
Working on `users_ldap_populate`

[2021-02-16 07:38] joao-p-marques commented on #136
Working on `users_ldap_groups`

[2021-02-24 13:31] JoweWesjo commented on #220
Hey,
is it possible to add users_ldap_groups to the migration list?

[2021-02-27 01:05] luisg123v commented on #136
I'm migrating `auth_saml` on https://github.com/OCA/server-auth/pull/251

[2021-03-04 21:54] dreispt opened #252 "[14.0] auth_session_timeout: "Exception reading session file modified time""
The session file is repeatably not found.
The exception is catched by the code, but still it happens on an idle server, and has no clear explanation.

[code]

[2021-03-12 11:11] dsolanki-initos commented on #220
Hi @JoweWesjo  if you are planning to migrate then let me know once it is finish I can review it. If you don't plan it, tell me. I would do the migration.

[2021-03-13 20:09] abdallamohamedcore opened #255 "[13.0] auth_api_key: use Odoo behind NGNIX"
Hello,

I have issue when use "auth_api_key" behind NGNIX as it response with below:
[code]

Can i know how to solve this issue

[2021-03-14 19:09] JoweWesjo commented on #220
Hi @dsolanki-initos . Thanks for your answer. Unfortunately I don't know how to do a migration. I'm just starting to discover the Programming World :)

[2021-03-15 09:36] dsolanki-initos commented on #220
OK. I'll migrate the module 'users_ldap_groups' to v14

[2021-03-15 12:51] dsolanki-initos commented on #220
Users_ldap_groups #256

[2021-03-26 14:05] alexeirivera87 opened #259 "[14.0] auth_session_timeout: expiration checking"
https://github.com/OCA/server-auth/blob/ceed639b21f2ce07685accb1f06de2b91d29b9be/auth_session_timeout/models/res_users.py#L73

Hello,
it is working the expiration checking? I set the system parameter to 120 seconds, and after that time the user session is not terminated. Am I missing a detail?

[2021-03-26 15:46] JDSalcedo commented on #208
Maybe this comment could solve your problem:
https://github.com/OCA/server-auth/issues/216#issuecomment-729166966

[2021-03-26 15:52] JDSalcedo commented on #103
Maybe this comment could solve your problem:
https://github.com/OCA/server-auth/issues/216#issuecomment-729166966

[2021-03-30 15:08] alexeirivera87 commented on #220
Hello,
Is module auth_session_timeout correctly working as expected, in version 14.0 ?

[2021-04-10 08:51] lonelyleaves commented on #259
me too ,this model not work!

[2021-04-16 18:08] sunarctech commented on #259
Me too, this model not work!

While debugging code
1) https://github.com/OCA/server-auth/blob/ceed639b21f2ce07685accb1f06de2b91d29b9be/auth_session_timeout/models/res_users.py#L37
Comments/Issue: To calculate deadline time the above formula used, is logic correct? Please confirm

2) https://github.com/OCA/server-auth/blob/ceed639b21f2ce07685accb1f06de2b91d29b9be/auth_session_timeout/models/res_use

[2021-04-16 18:17] prakashjain commented on #259
Me too, this model not work!

While debugging code
1) https://github.com/OCA/server-auth/blob/ceed639b21f2ce07685accb1f06de2b91d29b9be/auth_session_timeout/models/res_users.py#L37
Comments/Issue: To calculate deadline time the above formula used, is logic correct? Please confirm

2) https://github.com/OCA/server-auth/blob/ceed639b21f2ce07685accb1f06de2b91d29b9be/auth_session_timeout/models/res_use

[2021-04-16 18:52] prakashjain opened #264 "[14.0] password_security: Invalid signup token (after validation message)"
Below steps to reproduce the Invalid signup token

1) Send Password Reset Instructions to the user
2) User immediately try to reset password with old password system through validation message
**Cannot use the most recent passwords**
3) Then user try to set new password but this time showing "Invalid signup token"
Expected  Behaviour: User able to login with new password

Note: Using password rese

[2021-04-23 09:00] theangryangel commented on #220
auth_saml https://github.com/OCA/server-auth/pull/268

[2021-05-06 00:59] dannyadair commented on #170
So in v13 there is no need for `sso_key` at all?

[2021-05-10 11:07] prakashjain commented on #259
Please reply any solutions regarding the above issue?

[2021-06-06 07:37] prakashjain commented on #259
auth_session_timeout version 14 tested not working, Testing purpose 2 or 5 minutes set.
Issue opened more than 2 months, but no reply.
Please let me know how to fix the above issue.

[2021-06-16 08:33] dreispt opened #273 "auth_api_key: License conflict"
auth_api_key: The license LGPL-3 conflicts with one of its dependencies. Please make sure that you comply with the licenses compatibility. See our FAQ at https://apps.odoo.com/apps/faq#maintainer_faq_04 .

[2021-06-17 17:24] sya-odoo opened #274 "[12.0][auth_saml] AuthnRequest not signed"
Hi,

I use the module `auth_saml` to implement the SAML connection with Odoo as a Service Provider.

The Identity Provider requires to sign the requests.
My SP's metadata does include the `AuthnRequestsSigned`, however none of the requests sent are signed.

I tried to set the `signatureHint` parameter to `1`, but still, no signature in requests.

Is there something to do in the metadata, or this f

[2021-06-21 08:50] sya-odoo commented on #274
Digging a bit deeper, I found that the signature is sent in a `&Signature=` parameter.
Is there a way to include it as a `Signature` node in the `AuthnRequest` instead?

[2021-07-07 08:49] simahawk commented on #273
@lmignon @sebastienbeau could you check this?

[2021-07-07 09:14] lmignon commented on #273
Thank you for the issue. We have to check if it's possible to re license server_environment.

[2021-07-07 09:20] simahawk commented on #273
https://github.com/OCA/server-env/pull/77 CC @guewen

[2021-07-07 09:28] dreispt commented on #273
I work around could be to move the `server_environment` to  a glue module.
And IMO you don't really need `server_environment` to implement API Key support.

[2021-08-06 10:54] ogba opened #279 "redirect = werkzeug.utils.redirect(auth_request, 303)"
Hello , how can redirect  to url throw proxy

redirect = werkzeug.utils.redirect(auth_request, 303)

need to assess to auth_request url throw proxy

[2021-08-06 10:55] pedrobaeza commented on #279
This is a question, not an issue, and not directly related with the modules in this repository, so closing. Post the question in the forums.

[2021-08-06 10:55] #279 closed, assigned to nobody

[2021-08-06 11:06] ogba commented on #279
@pedrobaeza  thanks a lot ,  please can you give me the forum link

[2021-08-06 11:07] pedrobaeza commented on #279
Sorry, I don't know about this part, and if you expect to have answers, you should elaborate more your question: http://www.catb.org/~esr/faqs/smart-questions.html

[2021-08-18 08:31] simahawk commented on #273
OCA/server-env#77 is getting merged. I agree w/ @dreispt that api key could be decoupled from server env. @lmignon what do you think?

[2021-08-23 06:43] lmignon commented on #273
@simahawk @dreispt indeed api key could be decoupled from server env. I will be happy to review any PR on this topic

[2021-08-31 14:36] thomasrauscher opened #282 "Will auth_u2f be migrated to Odoo 14?"
Hi everyone,

as of now I could not find auth_u2f for version 13 or 14.
Are there any plans to migrate auth_u2f to Odoo version 14 in the foreseeable future?

Thanks!

Best
Thomas

[2021-09-01 01:24] em230418 commented on #220
auth_signup_verify_email https://github.com/OCA/server-auth/pull/270

[2021-09-01 07:28] primes2h commented on #220
users_ldap_mail #277

[2021-09-01 12:24] saxomanu commented on #136
I'm migrating auth_totp on #283

[2021-09-06 14:09] ogba opened #284 "logout from odoo must expire the IDP session"
When i logout from odoo system is logout and  redirect me to login page , but when i try to login with saml again the system directly login me in to odoo , system must ask me to login again with IDP login page (or expire the session from IDP and make it inactive )

[2021-09-24 08:55] primes2h commented on #220
Hi all, may someone add this module to the migration list please?

[2021-09-25 16:59] makayabou opened #289 "errors with odoo 10"
Hello,
I'm trying to use your  plugin  auth_keycloak 10.0.1.1.0 with Odoo 10.0-20190816 (Community Edition)  and Keycloak 15.0.2.

After installing and setting keycloak client and odoo plugin, I get the following error:
![error2](https://user-images.githubusercontent.com/25554584/134779819-1391c690-c786-469b-b734-1e12c66616dd.png)

I use a temporary workaround for this:
![auth_keycloak_settings](h

[2021-09-28 14:48] tarteo opened #291 "[14.0][auth_api_key] Key should be unique"
Should `key` be unique instead of `name`? I can make the changes myself but I want to check before I create a PR.

https://github.com/OCA/server-auth/blob/166851b7f9854f5c2986ded5ab8b25f867dd485c/auth_api_key/models/auth_api_key.py#L27

[2021-09-29 08:38] tarteo commented on #291
https://github.com/OCA/server-auth/pull/292

[2021-10-05 21:44] fredrikarvas-vertel commented on #222
Hi @rousseldenis

Yes it is a good idea.
1
Here are two tools we use at Vertel
https://www.freeipa.org/ on all our internally hosted servers (dev, test, staging and production servers).

2 On a previous company we used a local password file with Keypass.
That is kept on a single server and we have a key-file we change every time someone left the company.

3 When we share a password we use https://

[2021-10-05 21:48] fredrikarvas-vertel opened #295 "v14 auth_saml: I am missing the requirement for Python library not installed: pysaml2 in auth_saml"
Hi
I get this error when I install auth_saml
`Python library not installed: pysaml2`

I think this can be solved by adding a requirement to install it in the manifest, but I do not know how to do it.

make a suggestion in the error message to run:
pip install pysaml2

Thanks
/Fredrik

[2021-10-05 21:59] fredrikarvas-vertel commented on #295
I found this comment:
https://www.odoo.com/forum/help-1/how-to-automatically-install-an-external-python-library-along-with-the-installation-of-your-custom-module-161760

and understand now that there is a note in the manifest about the requirement.
https://github.com/OCA/server-auth/blob/68c7b289ffb8db6ef5442bf8d02a69b6deff1464/auth_saml/__manifest__.py#L13

Is there a way to automatically install

[2021-10-06 04:58] rousseldenis commented on #222
@fredrikarvas-vertel thanks for the pointers. But guys from initos have developed a module for that here.

https://github.com/OCA/server-auth/tree/14.0/vault

I close this

[2021-10-06 04:58] #222 closed, assigned to nobody

[2021-10-06 05:37] fredrikarvas-vertel commented on #222
Thanks!

[2021-10-06 09:26] fredrikarvas-vertel opened #296 "Please copy the auth_signup_verify_email to the v14-repo"
Hi
we have tested the auth_signup_verify_email-module in v14 CE.
It worked fine.
Please copy the module to the v14 repo (and update the major-version number to 14.0.).

Sincererly
Fredrik

[2021-10-06 09:35] pedrobaeza commented on #296
There's an opened pull request for it: https://github.com/OCA/server-auth/pull/270

Please review it.

[2021-10-06 09:35] #296 closed, assigned to nobody

[2021-10-06 09:51] fredrikarvas-vertel commented on #296
Thanks @pedrobaeza
I am learning!

[2021-10-06 09:52] pedrobaeza commented on #296
https://odoo-community.org/page/review

[2021-10-07 05:44] fredrikarvas-vertel opened #297 "14.0 Vault - error when creating a new entry from the "Entry"-meny."
Testcase:
Logged in user, with key-file. I can create entires if I start from the vault and pick the smart button "Entries".

I get this message after I click on: Vault -> Entries -> Create.

![image](https://user-images.githubusercontent.com/61729317/136326356-2a7f50bf-c56d-4836-b0ea-f375f95c98fc.png)

Suggestions (ideas how to solve it):
- Add a link to a vault for the new entry
- Add default va

[2021-10-11 16:08] lonelyleaves commented on #259
auth_session_timeout v14 is not work, inactive_session_time_out_delay is 600，but  opened more than 10min ,it‘s no reply.

[2021-10-15 09:50] nadiaafa commented on #220
Hi, @dsolanki-initos did you managed to migrate it already? if not please let me know, i need that module. Thank you.

[2021-10-17 10:21] OCA-git-bot opened #299 "Migration to version 15.0"
# Todo

https://github.com/OCA/maintainer-tools/wiki/Migration-to-version-15.0

# Modules to migrate

- [x] auth_admin_passkey - By @flachica - #362
- [x] auth_api_key - By @simahawk - #311
- [x] auth_api_key_group - By @yankinmax - #312
- [x] auth_api_key_server_env - By @yankinmax - #310
- [ ] auth_jwt - By @yankinmax - #316
- [ ] auth_jwt_demo
- [ ] auth_ldaps
- [ ] auth_oauth_autologin
- [x] a

[2021-10-18 12:09] rauvalcan opened #300 "auth_u2f - upgrade to version 14?"
Is this module going to be upgrade to version 14 of odoo?
Thanks

[2021-10-18 12:12] pedrobaeza commented on #300
Nobody has reported intentions for now, but track it in #220

[2021-10-18 12:12] #300 closed, assigned to nobody

[2021-10-18 12:14] rauvalcan commented on #300
thanks for your quick anwser
i will try review the code

[2021-10-25 06:26] simahawk commented on #211
Closing as there's no update. And FTR auth_oidc will support - at least - the auth part for keycloak. See https://github.com/OCA/server-auth/pull/261

[2021-10-25 06:26] #211 closed, assigned to nobody

[2021-10-25 07:05] valentinthirion opened #301 "Keycloak signin: Migration to 14.0/15.0?"
Hello,
I'm wondering if there is any chance or work in progress to migrate to the last versions od Odoo the module that allows to sign into Odoo using Keycloak, that is available only for Odoo 11.0?

Best regards

[2021-10-26 07:33] sbidoul commented on #301
@valentinthirion look at `auth_oidc` which implements standard based OpenId Connect authentication, which is fully supported and confirmed to work with keycloak. See also https://github.com/OCA/server-auth/pull/261#issuecomment-819448516 about the other part of `auth_keycloak`.

[2021-10-29 07:39] valentinthirion commented on #301
Thanks Stephan!

[2021-10-29 07:39] #301 closed, assigned to nobody

[2021-11-04 01:27] assign101 commented on #184
I followed your  instructions but getting a invalid_token and access denied..

Traceback (most recent call last):
  File "/opt/bitnami/odoo/lib/odoo-14.0.post20211010-py3.8.egg/odoo/addons/auth_oauth/controllers/main.py", line 133, in signin
    credentials = env['res.users'].sudo().auth_oauth(provider, kw)
  File "/opt/bitnami/odoo/lib/odoo-14.0.post20211010-py3.8.egg/odoo/addons/auth_oauth/model

[2021-11-12 11:25] 7underlines opened #304 "[13.0][auth_saml] NameIDPolicy transient - login not possible"
## Module
auth_saml

## Describe the bug
The module (I was unable to find the code where this request is build) requests a transient ID from the IdP -
`AuthnRequest` with `<ns0:NameIDPolicy AllowCreate="false" Format="urn:oasis:names:tc:SAML:2.0:nameid-format:transient" />`
 and then tries to find a user with it in https://github.com/OCA/server-auth/blob/13.0/auth_saml/models/res_users.py#L63.

Ho

[2021-11-15 11:53] 7underlines commented on #304
Seems like this is caused by old pysaml2 versions.

[2021-11-16 07:36] fkantelberg commented on #297
This should be one of the fixes in #302

[2021-11-16 08:21] 7underlines commented on #304
We use debian buster. I was able to overcome this error by installing pysaml2 from debian bullseye.
[code]

[2021-11-16 08:21] #304 closed, assigned to nobody

[2021-11-26 10:05] ExperisBari opened #309 "Odoo.sh test failure on password security install"
Module:
Password Security

When i install this module on odoo.sh the tests fail.
Logs:
odoo.addons.base.models.ir_model: Access Denied by ACLs for operation: create, uid: 107, model: sms.template
odoo.addons.base.models.ir_model: Access Denied by ACLs for operation: unlink, uid: 107, model: sms.template
odoo.addons.base.models.ir_model: Access Denied by ACLs for operation: write, uid: 107, model:

[2021-11-28 12:08] #20 closed, assigned to nobody

[2021-11-28 12:08] #33 closed, assigned to nobody

[2021-11-28 12:08] #36 closed, assigned to nobody

[2021-11-28 12:08] #37 closed, assigned to nobody

[2021-11-28 12:08] #38 closed, assigned to nobody

[2021-11-28 12:08] #50 closed, assigned to nobody

[2021-11-28 12:08] #54 closed, assigned to nobody

[2021-12-05 12:08] #70 closed, assigned to nobody

[2021-12-08 19:06] LJared commented on #264
Hello @prakashjain. Were you able to fix this bug by yourself? Or did you get any support?

[2021-12-08 19:13] LJared commented on #54
Hello @evaldezb were you able to find a solution for that issue?

[2021-12-10 01:16] evaldez89 commented on #264
Hey @LJared, (I'm @evaldezb that was my old account comming from issue #54) still having the same situation, odoo 11 and 12. No idea why it keeps changing the token.

I think you provided very helpful details on #54. Tell me something, can you replicate the behaivior every time just by manually forcing the password to expire and trying to access with the correct password? or do you think something

[2021-12-10 15:19] chafique-delli commented on #220
auth_oidc https://github.com/OCA/server-auth/pull/314

[2021-12-12 12:08] #79 closed, assigned to nobody

[2021-12-12 12:08] #80 closed, assigned to nobody

[2021-12-13 10:31] remi-filament opened #315 "[14.0] auth_saml : cert and key mandatory even if no signature needed"
## Module
auth_saml

## Describe the bug
When adding a SAML provider, in case you do not want your requests to IdP signed, you do not need cert and private key.
However, if you do not generate these, you will not be able to generate metadata (you get a 500 Internal Server Error).
Also, Signature Algorithm is mandatory and should not be if Sign checkbox is not ticked.

## To Reproduce
**Affected ve

[2021-12-20 17:51] theangryangel commented on #315
I'll do my best to sort this out on the Christmas break. Thank you for the bug report.

[2021-12-20 17:57] theangryangel commented on #295
The error message which looks at is from [core Odoo](https://github.com/odoo/odoo/blob/9d6f54e7f7219cbbda41129e35682f6a76aae1d4/odoo/addons/base/models/ir_module.py#L338).

With regards to automatically installing it there's no guarantee that the user account that Odoo runs as can install any python modules, nor that it can reach pypi to install it. This is the reason why the external_dependencies

[2021-12-23 14:22] OpenCode opened #317 "[14.0][auth_jwt] ImportError: cannot import name 'PyJWKClient' from 'jwt'"
## Module
auth_jwt

## Describe the bug
If I try to install auth_jwt I receive this error:

[code]

`pyjwt` is installed from this repo requirements

[2021-12-24 08:37] #317 closed, assigned to nobody

[2021-12-28 15:15] oussjarrousse commented on #315
This is affecting me as well. Thanks @remi-filament for opening the issue. I was wondering what was going on as I did not have access to the python error output!

[2021-12-29 13:44] oussjarrousse commented on #295
What if I am using the odoo docker image with docker-compose. Would the "external_dependencies": {"python": ["pysaml2"]}, be enough? especially if for some reason i decided to docker-compose rm the odoo container.

My solution was to create a custom Dockerfile that looks like this:
[code]

[2021-12-29 13:53] oussjarrousse commented on #315
So I have generated a certificate and a key and uploaded them:

When I leave the "sign" box unchecked (while the fields for certificate and key are still set). the SAML process succeeds.
When i check the "sign" box with the fields for the certificate and key set and hashing set, the SAML process fails with:
"502 Bad Gateway" from my nginx (reverse proxy) after redirecting to: https://odoo.simulala

[2021-12-29 19:38] oussjarrousse opened #321 "[14.0] auth_saml : saml2.sigver.SignatureError: Signature missing for assertion with Google SAML IDP"
I am getting the error `Signature missing for assertion` in the odoo logs.

I am using Google as IdP, and Odoo 14 with the auth_saml as SP. I created a SAML provider and added the required settings and all looks good if I don't check the "Sign" checkbox (although I had to add a dummy cert and a dummy key for the module to work but that is another issue #315, I also had to use another Dockerfile th

[2021-12-29 23:21] oussjarrousse opened #322 "[14.0] internal error when browsing to the metadata url in case cert and key were provided and "Sign" was set"
When cert, key and sign is checked for a well configured SAML service provider, the metadata url produce an internal server error. if "sign" was not checked, the metadata url shows the SP metadata xml correctly. This issue might be related to #321 and solving this issue might solve or help solving #321 and also could be solved together with #315.

## Module
auth_saml

## Describe the bug
the brows

[2022-01-03 10:40] hgarridoco commented on #255
Hi,

Add to your nginx.conf file this directive:
`underscores_in_headers on;`

[2022-01-09 12:09] #89 closed, assigned to nobody

[2022-01-09 12:09] #103 closed, assigned to nobody

[2022-01-12 09:24] stellamargonar opened #325 "[14.0] auth_oidc with authorization flow should call validation endpoint"
**Module auth_oidc, Odoo 14.0**
I have a OpenID provider configured in Odoo after installing the `auth_oidc` addon from this repository. Currently i'm working on Odoo 14, using https://github.com/OCA/server-auth/pull/261 and the provider is using OpenID Connect (authorisation code flow)

It works, meaning that users can now login in Odoo with the OpenID provider, and the first time the user is cre

[2022-01-14 09:12] simahawk opened #330 "[14.0] auth_saml tests broken"
[code]

https://app.travis-ci.com/github/OCA/server-auth/jobs/555592400#L1505

[2022-01-14 10:00] theangryangel commented on #330
This seems to be caused by this commit? They were passing when auth_saml was originally merged afaik.

https://github.com/OCA/server-auth/commit/cf2e6853babd1da634201f92e546f19c5651a3a9#diff-6ac3f79fc25d95cd1e3d51da53a4b21b939437392578a35ae8cd6d5366ca5485L15

[2022-01-14 10:05] simahawk commented on #330
@theangryangel my bad :sob: OTOH that lib should have been listed into .copier-answers.yml :wink:
I'll fix it. Thanks for the feedback!

[2022-01-14 10:07] theangryangel commented on #315
FYI, this is still on my backlog of OCA work at the moment.

[2022-01-14 10:11] theangryangel commented on #330
Noted, I'll double check that in future! Thanks for the pointer @simahawk <3

[2022-01-14 12:07] #330 closed, assigned to nobody

[2022-01-16 12:09] #111 closed, assigned to nobody

[2022-01-17 17:46] sbidoul commented on #325
Sounds reasonable. Would you like to do a PR ?

[2022-01-20 12:42] BT-cjimeno opened #333 "password_security: Invalid signup token when user has 2FA enabled"
## Module
password_security

## Describe the bug
When a user with 2FA enabled tries to login, before he is asked for his confirmation code he will see an error view saying "Invalid signup token".

## To Reproduce
**14.0**:

Steps to reproduce the behavior:
1. Go to the OdooBot user and change his "password_write_date" to a value that would trigger a neccessary password reset for a normal user, for

[2022-01-20 15:14] BT-cjimeno commented on #333
Sorry, forget about the last two Odoo links, I can see that the "request.uid" changes when the user doesn't have 2FA enabled and therefore when checking for "request.env.user._password_has_expired()" the right user is used.

That change of user happens here I think:
https://github.com/odoo/odoo/blob/1d151a8ed51ee10475ee8537199c036341a93022/odoo/http.py#L1011,L1013

[2022-01-21 16:27] stellamargonar commented on #325
Sure, here it is https://github.com/OCA/server-auth/pull/336

[2022-01-23 12:09] #119 closed, assigned to nobody

[2022-01-26 13:44] Camille0907 commented on #299
Migrating auth_saml in [#337](https://github.com/OCA/server-auth/pull/337)

[2022-01-30 16:25] andres-pcg commented on #255
I'm having same issue.

[2022-02-06 12:08] #134 closed, assigned to nobody

[2022-02-07 14:49] BT-rfresco commented on #299
migrating `password_security`

[2022-02-16 13:13] ghost commented on #299
migrating `password_security` #341

[2022-02-20 12:09] #140 closed, assigned to nobody

[2022-02-21 09:37] SimoRubi opened #344 "Remove unused translation"
Hi,
I am translating `auth_admin_passkey` to italian (https://translation.odoo-community.org/projects/server-auth-14-0/server-auth-14-0-auth_admin_passkey/it/) and noticed that this string:
https://github.com/OCA/server-auth/blob/3c0888d55d6c481ef79481360738744c4d364be1/auth_admin_passkey/i18n/it.po#L71
(weblate ref. https://translation.odoo-community.org/translate/server-auth-14-0/server-auth-14-

[2022-02-22 13:19] ranjith244 opened #345 "Got 500 internal server error auth_saml/get_auth_request"
<!-- Provide a general summary of the issue in the Title above.
Issue in creating saml provider in my odoo 13

I have added the followed details in SAML provider

![saml_issue](https://user-images.githubusercontent.com/42739929/155139732-778b2bfa-f997-478d-b1fe-0925366420e9.png)

I am not able to login once i added all the details for SAML provider

I got this error

Internal Server Error
The serv

[2022-02-23 14:59] olivier-theatre commented on #193
Hi everyone,

Does someone know if Microsoft ADFS SSO is working with latest version of server-auth and SAML ?

Best regards,

Olivier

[2022-02-27 12:09] #141 closed, assigned to nobody

[2022-03-02 13:07] flachica commented on #299
Migrated `auth_session_timeout` #347

[2022-03-06 12:10] #163 closed, assigned to max3903

[2022-03-09 14:57] malnajdi opened #353 "[auth_saml] logout from IdP when button logout is clicked"
Greeting Team

I would like to ask if signing out from the IdP is supported when the logout button is clicked ?
We configured the auth_saml and login is working but nothing related to logout in the configurations

any help is appreciated.

[2022-03-10 01:45] BT-rmartin commented on #220
@pedrobaeza Could you please open a new issue for v15 to contribute with some migrations? Thanks

[2022-03-10 01:47] BT-rmartin commented on #299
@sbidoul Could you please pin this issue? Thanks

[2022-03-13 12:10] #168 closed, assigned to nobody

[2022-03-13 12:10] #170 closed, assigned to nobody

[2022-03-13 12:10] #172 closed, assigned to nobody

[2022-03-16 06:13] deepa4lok commented on #289
I too had this issue & made it work with some fix, will shortly send PR, however in the meantime if you try changing scope as 'profile' & see if that works for you.

[2022-03-16 06:14] deepa4lok commented on #136
working on auth_keycloak

[2022-03-16 06:16] deepa4lok commented on #184
In Odoo Configuration, change the scope to 'profile'. that should work

[2022-03-16 08:46] sbidoul commented on #136
@deepa4lok have a look at [auth_oidc](https://github.com/OCA/server-auth/tree/13.0/auth_oidc), which has full support for openid connect and works with keycloak and other identity providers.

[2022-03-21 22:18] benjauger opened #357 "[15.0] Module "auth saml" failing to authenticate users despite the success of the authentication phase"
First of all, thank you all for your time :) . The impacted module is "auth saml" that failing to authenticate the users despite the success of the authentication phase through the IDP.

## Module
**auth_saml**

## Describe the bug
The auth_saml provide a working authentication phase (according to the logs) but result in a failed login of user. The displayed message is "_You do not have access to

[2022-03-22 15:05] benjauger commented on #357
I took a deeper look into the code of the plugin to debug and I didnt get the point here:

https://github.com/OCA/server-auth/blob/cbe9c0568c53358181411b63a83777d7cb1b5089/auth_saml/controllers/main.py#L194

I get a successful authentication phase with IDP and get a valid (as I understand) credentials object:

[code]
Maybe i'm totaly wrong and I missed something but it's like the authentication is

[2022-03-23 14:11] vincent-hatakeyama commented on #357
Are you using the code in #342? That look like one of the error I fixed; the token was not written to the database so can not be accessed in the other transaction.

[2022-03-23 15:21] benjauger commented on #357
Hello @vincent-hatakeyama , I've just tried your version https://github.com/xcgd/server-auth/tree/topic/15.0/auth_saml but unfortunatly, the following exception is throw at the installation phase:

[code]

Seem's that the new field **autoredirect** is missing somewhre in the model **auth.saml.provider**...
I can give another try once the module would installing well 👍

[2022-03-23 16:17] bendem commented on #220
Is there plans to migrate `users_ldap_populate` to 14? It's not listed but very useful

[2022-03-23 16:18] bendem commented on #299
`auth_saml` seems available though it's not marked as such here. Is there plans for `users_ldap_populate` too?

[2022-03-23 20:06] gurneyalex commented on #195
the last version of auth_saml has dropped that requirement.

[2022-03-24 08:20] vincent-hatakeyama commented on #357
It’s not missing, you forgot to update the module because some models are changed.

CI installs the module and there’s tests of it, it would have been visible if there was such a problem. That’s on top of tests I did myself with a local keycloak.

[2022-03-27 12:10] #177 closed, assigned to nobody

[2022-03-30 06:46] flachica commented on #299
Migrated `auth_admin_passkey` #362

[2022-03-30 08:34] Herqs commented on #299
Migrated `auth_user_case_insensitive` https://github.com/OCA/server-auth/pull/361

[2022-03-30 14:39] gurneyalex commented on #357
for the record I have similar issue using Azure AD and this module. I'm currently investigating.

[2022-03-30 15:22] gurneyalex commented on #357
OK some debugging hinted towards a wrong setting on "**Identity Provider matching attribute**". I was using the wrong value (the default `subject.nameId`. I changed it to `name` and got a match on the email in AD.
(actually I changed it to `email` first, and got an error in the logs saying the attribute could not be matched and providing a list of possible attributes and values where I found `name

[2022-04-07 18:42] augusto-weiss commented on #299
Migrated base_user_show_email #371
This module is not listed in this Issue because was not migrated to 14.0

[2022-04-10 12:10] #182 closed, assigned to nobody

[2022-04-15 19:51] westley333 commented on #345
generate keys on your local machine and upload them in the saml provider settings in odoo

example on local machine:
openssl req -x509 -newkey rsa:4096 -keyout odoo-key.pem -out odoo-cert.pem -sha256 -days 3650 -nodes

[2022-04-17 12:10] #187 closed, assigned to max3903

[2022-04-24 12:11] #194 closed, assigned to nobody

[2022-04-26 09:26] PCatinean opened #375 "14.0 auth_saml hanging queries after successful login"
## Module
auth_saml

## Describe the bug

After successful login the connection hangs after the redirect at the auth_saml/signin endpoint.

Checking postgresql for hanging/blocked queries returned transactions such as updating last login date or selection of saml_token

## To Reproduce
**Affected versions**:

14.0 (most likely 15.0)

Steps to reproduce the behavior:
1. Login via SSO

**Expected be

[2022-05-01 12:12] #196 closed, assigned to nobody

[2022-05-01 12:12] #197 closed, assigned to nobody

[2022-05-01 12:12] #204 closed, assigned to nobody

[2022-05-08 12:11] #205 closed, assigned to nobody

[2022-05-08 12:11] #208 closed, assigned to nobody

[2022-05-11 12:53] matteoopenf opened #378 "12.0 auth_saml"
## Module
auth_saml.

## Describe the bug
Configure module, after configuration on login not apper to login wifht SAML
## To Reproduce
**Affected versions**:

- [ ] 12.0

- [ ]  14.0 ?

Steps to reproduce the behavior:
1. instal module
2. configure module
3. go to login page

**Expected behavior**
In login page apper login with SAML

**Additional context**
Add any other context about the problem h

[2022-05-11 17:40] matteoopenf commented on #378
solved the outh login have conflict wiht saml

[2022-05-11 17:40] #378 closed, assigned to nobody

[2022-05-11 17:44] matteoopenf opened #379 "12.0 auth_saml"
## Module
auth_saml

## Describe the bug
not found page after select login Saml

![image](https://user-images.githubusercontent.com/43987335/167912788-439b1b69-3e5a-40ae-82ca-8cd76c2b7387.png)

![image](https://user-images.githubusercontent.com/43987335/167912879-6162abbc-6a1a-45bc-8a61-f78f5c6ffd4c.png)

## To Reproduce
**Affected versions**:

- [ ] 12.0

Steps to reproduce the behavior:
1. insta

[2022-05-15 12:12] #209 closed, assigned to nobody

[2022-05-17 06:14] sebastien-weiland opened #380 "Auth error causing loop when automatic provider is enabled"
## Module
saml auth

## Describe the bug
When enabling automatic SAM provider selection, if the auth is NOT successful, the auth mechanism should not LOOP

## To Reproduce
**Affected versions**: v15

Steps to reproduce the behavior:
1. Enable automatic SAML provider
2. Take a valid SAML auth, put an error in the identifier so that the person is not able to authenticate
3. Try to access again
4. En

[2022-05-17 06:42] #379 closed, assigned to nobody

[2022-05-17 06:44] matteoopenf opened #381 "12.0 auth_saml"
**Is your feature request related to a problem?**
in 12.0 version of auth_saml there are not  the controller for metadata page

**Describe the solution you'd like**
I want a backport of the same controller in 13.0 and 14.0

**Describe alternatives you've considered**

**Additional context**
Add any other context about the feature request here.

[2022-05-20 06:23] CasVissers-360ERP commented on #357
@gurneyalex Any success on resolving the issue? We are facing the same issue in combination with Azure AD.

Edit: @gurneyalex nevermind was running an old version, must be Friday.

[2022-05-21 09:54] obayit commented on #380
I am facing a similar issue but I am not using the `SAML` module, or any custom auth modules.
The loop happens when visiting `/web/login` with an expired token.
I can't figure out exactly what is happening, but after tracing the call stack with a lot of `print` statements,

I found out that the `SessionExpiredException` is being raised in the `/web/login` page! which should not happen because othe

[2022-05-21 13:57] CasVissers-360ERP commented on #357
@BloodMotion I think this ticket can be closed?

[2022-05-22 12:12] #216 closed, assigned to nobody

[2022-05-29 12:12] #233 closed, assigned to nobody

[2022-05-30 05:36] simahawk commented on #273
this is solved and server env was decoupled on https://github.com/OCA/server-auth/pull/288

[2022-05-30 05:36] #273 closed, assigned to nobody

[2022-06-05 12:11] #235 closed, assigned to nobody

[2022-06-15 09:19] remi-filament commented on #315
Fixed with #342 on v15.0, with #370 on v14.0
Thank you @vincent-hatakeyama for the rework and @gurneyalex for the backport !

[2022-06-15 09:19] #315 closed, assigned to nobody

[2022-06-19 12:11] #252 closed, assigned to nobody

[2022-06-23 14:25] reos-rcrozier opened #390 "500 Error: Unsupported binding: urn:oasis:names:tc:SAML:2.0:bindings:HTTP-Redirect (odoo)"
## Module
auth_saml

## Describe the bug
I am attempting to set up `auth_saml` with Jumpcloud as the IdP. After performing the necessary steps, when attempting to login with jumpcloud I get the following error:

[code]
Incidentally, if "automatic redirection" is selected, this leaves you unable to access the odoo login page as a local user, I had to manually edit the database to switch this back t

[2022-06-23 14:43] reos-rcrozier commented on #390
I guess the issue is that `auth_saml` doesn't support `HTTP-Redirect`, can `HTTP-Redirect ` be supported?

[2022-07-03 12:11] #274 closed, assigned to nobody

[2022-07-03 15:08] #297 closed, assigned to nobody

[2022-07-10 12:12] #282 closed, assigned to nobody

[2022-07-10 14:22] benjauger commented on #357
@CasVissers-360ERP hello, unfortunatly no.

I tryed once again today and I got the same result (Odoo fresh install), I get stuck at the same step (cf logs below).
The authentication is doing well through ADFS:

[code]

But right after that, for an unknown reason, an error is thrown and the authentication fail.

Here is my config (GUI) from Odoo SAML backend:

![image](https://user-images.githubuse

[2022-07-10 14:27] benjauger commented on #357
I'm just seeing there  the error is a bit different:

Before it was:
[code]

Now it's:
[code]
@vincent-hatakeyama this error (SAML2: access denied) is raised in wich context (maybe a dumb question ^^) ?

[2022-07-10 14:35] BloodMotion commented on #357
Visiblement mon erreur vient d'ici, je vais continuer d'investiguer :
https://github.com/OCA/server-auth/blob/667f2e597fe883d4335da589cf8148aa525100be/auth_saml/controllers/main.py#L125

[2022-07-10 16:56] benjauger commented on #357
Nevermind, the `SAML2: access denied` error was due to the fact that I didn't created a user with SAML association.
Now I'm facing a new issue, the login happen but the call back to `/auth_saml/signin` provoke an Odoo crash:

[code]

[2022-07-10 17:31] benjauger commented on #357
@CasVissers-360ERP @vincent-hatakeyama fixed !
My lastest error was due to a bad mapping of AD attributes (I just tried again by deleting them).

I can confirm that the module is working with Odoo v15,

Thanks for the help, I can now close this ticket (I guess the upgrade of the module solve the problem).

[2022-07-10 17:31] #357 closed, assigned to nobody

[2022-07-11 22:12] benjauger commented on #299
`auth_saml` is working with 15.0, according to this issue here: https://github.com/OCA/server-auth/issues/357

[2022-07-17 12:12] #264 closed, assigned to nobody

[2022-07-24 12:12] #284 closed, assigned to nobody

[2022-07-24 12:12] #291 closed, assigned to nobody

[2022-07-27 07:03] BT-cjimeno commented on #333
Hi @dreispt , could you please add the "no stale" label to this issue? Thanks!

[2022-07-31 02:23] looeee opened #404 "Issues with auth_oidc and odoo v15"
I have set up Keycloak oidc auth for Odoo v15 using this module. My keycloak is hoasted at `auth.myadminsite.com`, odoo is at `odoo.mybusiness.com`.

I ran into two issues. The second at least can be resolved by better documentation.

## First issue: Redirect URI being reported by Odoo as `http` instead of `https`.

First, I was getting an `invalid_redirect_URI` error in Keycloak. I had set the re

[2022-08-07 12:12] #295 closed, assigned to nobody

[2022-08-07 12:12] #309 closed, assigned to nobody

[2022-08-10 13:31] andres-pcg commented on #255
Anyone?

[2022-08-10 14:05] hgarridoco commented on #255
Please, see my reply. I fix it adding in my nginx.conf file this directive:
`underscores_in_headers on;`

[2022-08-10 14:21] andres-pcg commented on #255
Thank you

On Wed, Aug 10, 2022 at 10:06 AM Héctor Garrido Colmenarejo <
***@***.***> wrote:

--

Andrés M. Rodríguez

Chief Operating Officer

D  (829) 956 5191

M (809) 608 5705

E  ***@***.*** ***@***.***>

Av. Gustavo Mejía Ricart 52, 2do Nivel

Ens. Naco, Santo Domingo, R. Dominicana

--

Este mensaje y sus anexos pueden contener información confidencial y
privilegiada con la intención de que

[2022-08-11 09:24] astirpe opened #407 "[RFC][>=14.0] auth_api_key: module not to be ported?"
Starting from Odoo 14.0, API keys are supported in base.
https://github.com/odoo/odoo/commit/d0dbbe23f4b1f797a9ed8c7a4726146d6df902ad

[2022-08-11 14:24] dazenkilla commented on #299
Hi @BloodMotion, will you share what you do besides migrated to 15.0 ? Because mine still error exactly like yours before.

[2022-08-11 14:27] dazenkilla commented on #357
Hi @BloodMotion, will you share what you do besides migrated to 15.0 ? Because mine still error exactly like yours before.

[2022-08-20 18:46] ayushin opened #408 "auth_from_jwt"
Hi,

Now that there is `auth_jwt` and `auth_from_remote_user` I wonder why there is not `auth_from_jwt` that would create a session and sign user in?

I guess I miss something architecture wise? @sbidoul

[2022-08-21 12:11] #321 closed, assigned to nobody

[2022-08-21 12:11] #322 closed, assigned to nobody

[2022-08-29 09:10] sbidoul commented on #408
@ayushin `auth_jwt` has a [user_id_strategy](https://github.com/OCA/server-auth/blob/d75b6f7dfa39a9e967b2d68b857ea89a8387c768/auth_jwt/models/auth_jwt_validator.py#L161-L164) that is meant to be extended.

If you need a full Odoo sign in, you may also be interested in `auth_oidc` for an OpenId Connect implementation.

[2022-08-29 09:14] ayushin commented on #408
I saw that thank you! What I need is to sign in user by url redirect from another backend where the user is already authorised  without the user knowing it is being signed in again.

I am not an expert with Openid but I believe the flow has to be initiated by the user and there will be some auth screens in between?

For now what I have in mind is to direct user with JWT header pre-set by another b

[2022-08-30 17:15] ghost commented on #404
@looeee I am trying to test this but stuck on the mapping email -> user_id. Can you reference some documentation on how to do so. Atleast that way I can test, implement and hopefully be one of the two approvals needed to kick in a merge. Im running latest odoo 15 from git and latest quarkas based version of keycloak.

[2022-08-31 04:25] looeee commented on #404
Here are my keycloak settings in Odoo

![keycloak settings](https://user-images.githubusercontent.com/5307958/187591826-887823ee-975d-49ef-af4e-6cac88f60edb.png)

Then here's my user  oauth setting

![oauth user](https://user-images.githubusercontent.com/5307958/187591867-f3a0cf2b-7ff2-43df-97ea-b7ced88cd1d3.png)

Here's the keycloak Odoo client

![keycloak odoo client](https://user-images.githubu

[2022-08-31 08:21] sbidoul commented on #404
Hi,

I've not tested on 15.0 so take what I say here with a grain of salt.

For your 1st problem (http/https) I suspect a configuration issue with your odoo (not keycloak). For instance, make sure to run odoo with `--proxy-mode` if running behind a proxy.

For the second problem, the mapping mechanism in auth_oidc is known to work. so `email:user_id` in the "Token map" field. Also make sure that y

[2022-08-31 09:00] looeee commented on #404
Hmm, that would make sense. I'm using docker, is there a way to set that in docker compose or odoo.conf?

[2022-08-31 09:19] sbidoul commented on #404
`proxy_mode = True` in odoo.conf, yes.

[2022-08-31 09:34] ghost commented on #404
I always get this error on the screen tried mapping using both methods detailed above
![Screenshot_20220831_102850](https://user-images.githubusercontent.com/69146656/187646773-f044709c-9201-4a49-898a-95d386f7d55b.png)

server logs:
`2022-08-31 08:55:12,838 2293 INFO eajglobal odoo.addons.auth_oauth.controllers.main: OAuth2: access denied, redirect to main page in case a valid session exists, with

[2022-09-02 11:06] CarlosRoca13 opened #415 "[13.0] vault: Loosing keys when deleting a user from vault"
TT38783

ping @pedrobaeza @fkantelberg

In module vault (at least in v13), as the title says, when we delete some user from an existing vault with entries, the values added on this entries cannot be accessed. We do not know if this is a bug or a situation that requires an action.

You can see what is happening in next gif:
![vault_bug](https://user-images.githubusercontent.com/35952655/188126640-6

[2022-09-04 20:22] fkantelberg commented on #415
This is a bug in all versions because the fields are invisible and aren't loaded into the JS localdata. It causes that the keys of the users are recreated (atleast the first 40) and afterwards you can't decrypt because the master keys doesn't fit for the not changed field and file data. I had to rework the entire re-encryption process because of other problems I noticed while working on it.

Can y

[2022-09-06 18:38] pedrobaeza commented on #415
Closing as fixed.

[2022-09-06 18:38] #415 closed, assigned to nobody

[2022-09-07 07:50] pedrobaeza opened #419 "[RFC] vault: Lost user key password"
A user configures a key and put a password. Several days later, they forget their password. Now Odoo keeps asking for a password that they don't know. Putting a new one doesn't serve, as they need the old one.

How can we handle this?

@Tecnativa TT38832

[2022-09-07 08:03] fkantelberg commented on #419
Basically the user lost the active key. The cleanest way could be the ability to disable a key (setting `current` on `res.users.key` to `False`). The action should also remove all `vault.right` of the user removing all access to every vault for the specific user. If user was the only one in a vault the vault is obviously lost too.

[2022-09-07 10:34] pedrobaeza commented on #419
But right now you are not able to deactivate a key. The form doesn't allow to change that checkbox. Should we put the tree editable? Do I make the PR?

[2022-09-07 10:37] fkantelberg commented on #419
Yes currently you can't. Editable alone isn't working. I guess a button is required because of the extra steps. I can check it until friday I guess. If you need a quick fix: delete res.users.key and vault.right of the user.

[2022-09-07 10:42] pedrobaeza commented on #419
Thanks for the tip and the support. I'm proceeding that way meanwhile. As the person that dug in the module is on holidays, I'm a bit blind right now. I can wait for your proper patch.

[2022-09-08 19:21] fkantelberg commented on #419
@pedrobaeza #420 #421 should allow the invalidation. While working on it I found that you loose your inboxes when you generate a new key-pair.

Invalidation: vault.inbox and vault.right will be deleted and the key is invalidated setting current to False. On a reload Odoo should ask again to generate a new key pair.

Re-encrypting of vault.inbox: Just create a vault with a secret and send the secre

[2022-09-17 09:43] oneict commented on #404
@EAJGlobal I had the same error message.
I my case the user/account already existed in Odoo, after deleting it in Odoo and trying again the Odoo account was created at first login.

[2022-09-19 07:27] CarlosRoca13 opened #423 "[13.0] vault: Loosing keys when changing vault on an entry"
TT38963

In module vault (at least in v13), when we change an entry from one vault to another existing vault, the values added on this entry cannot be accessed.

I'm not sure if this change should be allowed, if not, we should make the field readonly when it is defined to avoid this errors.

What do you think? @pedrobaeza @fkantelberg

[2022-09-19 07:28] pedrobaeza commented on #423
I think that this field should be readonly if the entry is already created.

[2022-09-19 07:30] fkantelberg commented on #423
Readonly would be the best otherwise it's getting complicate again. If you want to move entries between vaults you can use the export -> import quite well.

[2022-09-19 07:33] pedrobaeza commented on #423
Let's go with that approach then. We can notice such thing in the known issues section and suggest Export/Import alternative. @CarlosRoca13 can you do the PR?

[2022-09-25 12:14] #344 closed, assigned to nobody

[2022-09-26 11:45] CRogos opened #424 "[15.0] external dependency "cryptography" causes error 'X509_V_FLAG_CB_ISSUER_CHECK'"
## Module auth_jwt
The name of the module that has a bug.
auth_jwt has an external dependency "cryptography" which seems not be compatible with Odoo anymore:
https://github.com/odoo/odoo/commit/55d2da4dd28975e78ace2a6beeae4168d5692f09

## Describe the bug
The Odoo server is not starting because of dependency incompatibilities.
similar topics:
https://github.com/odoo/odoo/pull/89798
https://www.odo

[2022-10-01 15:46] sbidoul commented on #424
This has been fixed in Odoo: https://github.com/odoo/odoo/pull/99829

[2022-10-02 12:15] #193 closed, assigned to nobody

[2022-10-03 17:03] OCA-git-bot opened #426 "Migration to version 16.0"
# Todo

https://github.com/OCA/maintainer-tools/wiki/Migration-to-version-16.0

# Modules to migrate

- [x] auth_api_key - By @benoit-bertholon - #451
- [x] auth_api_key_group - By @sbejaoui - #544
- [ ] auth_api_key_server_env
- [x] auth_jwt - By @sbidoul - #519
- [x] auth_jwt_demo - By @sbidoul - #519
- [x] auth_ldaps - By @anothingguy - #504
- [x] auth_oauth_autologin - By @benwillig - #627
- [

[2022-10-05 06:07] CRogos commented on #424
@sbidoul are you sure? I still get the same error when not setting the cryptography version in the requirements.txt.

[2022-10-05 06:15] sbidoul commented on #424
I don't know which version your odoo sh instance has, but I'm 100% sure we should not pin the version in this repo.

[2022-10-05 06:22] CRogos commented on #424
Odoo.sh is using the latest Odoo version and the Odoo patch is applied:
![image](https://user-images.githubusercontent.com/1799080/193994044-b12a496b-a53c-437b-ac72-325f77b19556.png)

I agree that pinning it to a version is ugly, but without it is not building anymore.

All builds newer than 2 weeks have the same issue:
https://runboat.odoo-community.org/webui/builds.html?repo=oca/server-auth&targ

[2022-10-05 06:27] sbidoul commented on #424
Butt, is your issue with odoo.sh or runboat?

[2022-10-05 06:31] CRogos commented on #424
I am using odoo.sh, but I am also using runboat, and I can reproduce the issue on both.

[2022-10-05 06:43] sbidoul commented on #424
Ah, I see it now. I think some other dependency of this repo requires a cryptography version greater than the one in odoo's requirements.txt. We need to find which one.

[2022-10-05 07:06] CRogos commented on #424
Cryptography is used in auth_jwt (and auth_jwt_demo), which both have the version 14 in the 15 branch?!?!
https://github.com/OCA/server-auth/blob/45a78e431fbddba9e26463f7caf2b5ddd7ed729e/auth_jwt/__manifest__.py#L8

[2022-10-05 09:26] CRogos commented on #424
@sbidoul the external_dependencies of auth_jwt are not added to the requirements.txt because in the manifest the installable is set to False.

What is the reason why the 14.0.1.2.0 was added to the 15.0 branch without migration?
When I set the module to installable = True and remove it from the "not installable addons" list, I get more migration related issues.

I think the easiest way to fix this

[2022-10-05 14:12] sbidoul commented on #424
This comes from https://github.com/OCA/server-auth/pull/320. But that is not the cause of the problem.

Depending on `cryptography` without version constraint is fine, because it is preinstalled with the version pinned by Odoo's requirements.txt (both in odoo.sh and runboat), and `pip install cryptography` then says `requirement already satisfied` and everyone is happy.

The problem here comes fro

[2022-10-06 08:33] #424 closed, assigned to nobody

[2022-10-16 12:15] #353 closed, assigned to nobody

[2022-10-23 12:16] #184 closed, assigned to nobody

[2022-10-23 12:16] #289 closed, assigned to nobody

[2022-10-27 15:06] SAMSA-IT opened #435 "Unable to install module "password_security" because an external dependency is not met: Python library not installed: zxcvbn"
## Module
The name of the module that has a bug:
password_security

## Describe the bug
When installing the app the following error is shown:
Unable to install module "password_security" because an external dependency is not met: Python library not installed: zxcvbn
![grafik](https://user-images.githubusercontent.com/24456505/198326534-27c0052f-073b-42ef-9639-67e865bd3079.png)

## To Reproduce
**A

[2022-10-27 15:10] pedrobaeza commented on #435
You should have such library in your Odoo Python environment. It's not a problem of the module itself, but your deployment.

[2022-10-27 15:10] #435 closed, assigned to nobody

[2022-10-27 15:19] SAMSA-IT commented on #435
Hello Pedro,
thank you for the quick info.
We use Odoo.sh. Can we use the module on Odoo.sh?
Best regards,
Manuel

[2022-10-27 15:21] pedrobaeza commented on #435
I don't know such platform, but I suppose there's a place where you can put extra Python libraries. Ask where this can be done to SH support.

[2022-10-27 15:30] SAMSA-IT commented on #435
Thanks Pedro! I will do it.

[2022-10-30 12:15] #195 closed, assigned to nobody

[2022-11-03 18:57] SAMSA-IT commented on #435
Dear Pedro,
Odoo replied that a requirements.txt file listing the external libraries is required for the app to run on Odoo.sh.
The platform Odoo.sh will use this file to automatically install the Python libraries your project needs.
https://www.odoo.com/documentation/14.0/administration/odoo_sh/getting_started/first_module.html#use-an-external-python-library

Do you think this requirements.txt fi

[2022-11-03 19:28] pedrobaeza commented on #435
The file is there: https://github.com/OCA/server-auth/blob/14.0/requirements.txt and it says you can add it manually as well.

[2022-11-10 09:06] SAMSA-IT commented on #435
Dear Pedro,
we moved the requirements.txt file directly in the root of the repository, "same level" as the apps, not in a sub folder. Then we were able to install the app in Odoo.sh. Do you think you could do the same here to prevent others from having the same issue when installing the App on Odoo.sh?

[2022-11-17 12:21] vib-adhoc commented on #426
base_user_show_email - [#444](https://github.com/OCA/server-auth/pull/444)
Could you add this module to the list?

[2022-11-20 12:12] #345 closed, assigned to nobody

[2022-11-25 12:59] bruno-zanotti commented on #426
Working on auth_signup_verify_email (https://github.com/OCA/server-auth/pull/446)
Could you add it to the list?

[2022-11-27 12:11] #375 closed, assigned to nobody

[2022-11-29 19:49] jjsanta97 opened #450 "Changing password of users is not working"
## Module
password_security

## Describe the bug
When I try to change the password of a user the next error appears:

![Captura de pantalla de 2022-11-29 14-28-32](https://user-images.githubusercontent.com/13875210/204632327-8f39a3f8-d58f-4718-bbc8-cee228ed4cb2.png)

## To Reproduce
**Affected versions**: 13.0

Steps to reproduce the behavior:
1. Go to Settings
2. Users & Companies
3. Users
4. Sel